body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.nav-logo {
    max-width: 200px;
    height: auto;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-action {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.user-action:hover {
    background-color: #fff;
    color: #222;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.cta-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: #222;
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }

    .user-actions {
        margin-top: 20px;
    }
}

/* Navbar styles */
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}




.logo-container {
    width: 100%;
    height: 500px;
    margin: 20px auto;
    text-align: center;
    background: url("../img/trainwellBackgroundImage1.jpg") no-repeat center center;
    background-size: cover;
    border-bottom: 1px solid #fff;
    position: relative;
}
#colorTextInHero {
    max-width: 300px;
}
