body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.nav-logo {
    max-width: 200px;
    height: auto;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-action {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.user-action:hover {
    background-color: #fff;
    color: #222;
}

.profile-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.input-area {
    /* Your existing form styles go here */
}

.output-area {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    height: fit-content;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input, select {
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    background: #333;
}

