body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.nav-logo {
    max-width: 200px;
    height: auto;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-action {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.user-action:hover {
    background-color: #fff;
    color: #222;
}

.schedule-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.list-area, .details-area {
    background-color: #333;
    border-radius: 15px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
