body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#getSchemaButton {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#getSchemaButton:hover {
    background-color: #16a085;
}
header {
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.nav-logo {
    max-width: 200px;
    height: auto;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-action {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.user-action:hover {
    background-color: #fff;
    color: #222;
}

.profile-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input, select {
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    background: #333;
}

.user-profile {
    background-color: #333;
    border-radius: 20px;
    padding: 20px;
}

#userProfileInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 0.9em;
}

#userProfileInfo p {
    margin: 0;
}
.flex-align {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type='radio'], input[type='checkbox'] {
    width: auto; /* Reset the width for radio and checkbox inputs */
}
