body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333; /* Adjust the background color as desired */
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.signup-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #555; /* Adjust the background color as desired */
    color: #fff;
}

.register-button, .login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db; /* Adjust the background color as desired */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.login-button:hover{
    background-color: #1abc9c;
}
.register-button:hover {
    background-color: #1abc9c; /* Adjust the background color as desired */
}
